*{
    padding: 0px;
    margin: 0px;
}

/* Containers */

.cont{
    width: 100%;
    height: 100%;
    
}

.subcont{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
}

/* menu */

nav{
    width: 100%;
    height: 70px;
    background-color: black;
}

ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

li{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 45px;
    margin-left: 30px;
    list-style: none;
    font-size: 18px;
    transition: linear 0.5s;
}

a{
    color: white;
    text-decoration: none;
}

.form{
    width: 100%;
    height: 100%;
}

form{
    margin-left: 27%;
    margin-top: 8%;
    width: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 600px;
}

h2{
    background-color: brown;
    padding-top: 10px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.name{
    width: 90%;
    margin-top: 10%;
    height: 7%;
    margin-left: 30px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.price{
    width: 90%;
    margin-top: 10%;
    height: 7%;
    margin-left: 30px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

textarea{
    width: 90%;
    margin-top: 30px;
    margin-left: 30px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.data{
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
    height: 10%;
}